<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
       <link rel="stylesheet" href="./css/hbscss.css">
</head>

<body>
    <div>
        <a href="/HbsAbout">HBS About Page</a>
        <a href="/HbsHome">HBS Home Page</a>
        <a href="/weather">Weather Page</a>
    </div>
</body>

</html>